<!--<header>-->
<!--&lt;!&ndash;<img width="300" src="/assets/images/locations4.svg">&ndash;&gt;-->
<!--<h1>My Locations</h1>-->
<!--</header>-->

<div>
    <router-outlet></router-outlet>
</div>

<footer class="navigation-section">
    <div class="pull-right">

        <a class="btn btn-primary"
           routerLink="/app-categories">
            <span class="glyphicon glyphicon-tags"></span>
            Categories</a>

        <a class="btn btn-primary"
           routerLink="/app-locations">
            <span class="glyphicon glyphicon-map-marker"></span>
            locations</a>
    </div>
</footer>